/*
Theme Name: Hodor
Author: Shustenkov
Version: 1.0
URL: http://korolev.today/
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;;
    overflow-y: hidden;
    overflow-x: hidden;
}

p {
    font-family: 'Source Sans Pro', sans-serif;;
    font-size: 14px;
}

.section_title {
    padding-top: 90px;
    padding-bottom: 50px;
}

.section_title h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #333;
    font-size: 30px;
    font-weight: 400;
}

.section_title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 60px;
    height: 1px;
    background-color: #f39c12;
    left: 50%;
    margin-left: -30px;
}

.section_title p {
    text-align: center;
    margin-top: 45px;
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h2 {
    height: 0px;
    margin: 0px;
}

.navbar {
    margin-top: -100px
}

.navbar-brand {
    padding: 9px 15px;
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
    }

    .navbar-default .navbar-nav > li > a {
        color: #B5B5B5;
        font-family: 'Source Sans Pro', sans-serif;;
    }

    .navbar-default .navbar-nav > li > a:hover {
        color: #f39c12;
    }

    .navbar-default .navbar-nav > li > a:focus {
        color: #B5B5B5;
    }

    .navbar-default {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        z-index: 110;
    }

    .navbar-brand img {
        padding-top: 25px;
        height: 45px;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .navbar-default .navbar-nav > li > a {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .navbar-nav > li > a {
        padding-top: 45px;
    }
}

@media (max-width: 768px) {
    .navbar-brand img {
    }

    .navbar-default {

    }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: #f39c12;
}

.header {
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .section_overlay {

}

.logo {
    padding-bottom: 50px;
    width: 500px;
    height: auto;
    text-align: center;
    margin: auto;
}

@media (max-width: 768px) {
    .logo {
        width: 100%;
    }
}

.home_text {
    display: flex;
    flex-direction: column;
}

.home_text img {
    width: 500px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .home_text img {
        width: 100%;
    }
}

.home-iphone {
    text-align: right;
}

.home-iphone img {
    width: 100%;
    margin-top: -100px;
}

@media (max-width: 768px) {
    .home-iphone {
        /*display: none;*/
    }

    .home_text {
        text-align: center;
    }

}

.home_text h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px
}

.home_text p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    margin-top: 0px;
    font-weight: 300;
}

.download-btn {
    margin-top: 90px;
    margin-bottom: 50px
}

.home-btn,
.home-btn:focus,
.home-btn:active,
.home-btn:visited {
    background: transparent;
    border-color: #f39c12;
    color: #f39c12;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.home-btn:hover {
    background-color: #f39c12;
    color: #fff;
}

.tuor,
.tuor:focus,
tuor:active,
tuor:visited {
    color: #A9ADB0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.tuor:hover {
    color: #fff;
}

.tuor i {
    font-size: 20px;
    padding-left: 5px;
    color: #f39c12;
}

.about {
    background: #F1F1F1;
}

.inner_about_area {
    padding-top: 50px;
}

.inner_about_title {
    padding-bottom: 50px;
}

.inner_about_title h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
}

.inner_about_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px;
    background: #f39c12;
    height: 1px;
}

.inner_about_title p {
    font-size: 19px;
    line-height: 24px;
    margin-top: 40px;
}

.inner_about_desc {
}

.single_about_area {
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}

.single_about_area div {
    position: absolute;
    top: 0px;
    left: 0px;
}

.single_about_area div i {
    font-size: 55px;
    color: #BABABA;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.single_about_area h3 {
    color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

.single_about_area p {
    color: #727272;
    font-size: 15px;
}

.single_about_area:hover div i {
    color: #f39c12;
}

.about_phone img {
}

@media (min-width: 991px) and (max-width: 1200px) {
    .about_phone img {
        margin-top: 184px;
        width: 80%;
        margin-right: 20%
    }
}

.video_area {
    background: #e4e4e4;
    padding-bottom: 140px;
    padding-top: 120px;
}

.video_title {
    padding-bottom: 30px;
}

.video_title h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
    margin-top: 0px;
}

.video_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px;
    background: #f39c12;
    height: 1px;
}

.video_title p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
    color: #333;
    font-weight: 300;
}

.btn-video,
.btn-video:active,
.btn-video:focus,
.btn-video:visited {
    background: transparent;
    border: 1px solid #929292;
    color: #686868;
    border-radius: 3px;
    padding: 12px 35px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.btn-video:hover {
    background: #f39c12;
    color: #fff;
    border: 1px solid #f39c12;
}

.video {
}

.video iframe {
    width: 100%;
    border: 1px solid #999999;
    padding: 5px;
}

#owl-demo .item {
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.testimonial {
    background: url(../images/testimonial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonial .section_overlay {
    background: rgba(0, 0, 0, .6);
    padding-top: 80px;
    padding-bottom: 80px;
}

.carousel-indicators {
    bottom: -8px;
}

div.carousel-inner .item img {
    border: 2px solid #f39c12;
    border-radius: 50%;
    padding: 3px;
}

.testimonial_caption {
    padding-bottom: 70px;
}

.testimonial_caption p {
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}

.testimonial_caption h2 {
    color: #f39c12;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
}

.testimonial_caption h4 {
    color: #f39c12
}

.testimonial_caption h4 span {
    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;
}

.testimonial ol.carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid #f39c12;
    margin: 1PX
}

.testimonial ol.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    border: 0px solid #f39c12;
    background: #f39c12;
}

.features {
    background-color: #f1f1f1
}

.feature_inner {
    padding-top: 30px;
    padding-bottom: 70px;
}

.feature_iphone {
}

.feature_iphone img {
    width: 100%;
}

.right_single_feature {
    position: relative;
    padding-left: 90px;
    margin-bottom: 65px;
    margin-top: 35px;
}

.right_single_feature div {
    position: absolute;
    font-size: 40px;
    color: #f39c12;
    left: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
}

.right_single_feature h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333333;
}

.right_single_feature h3 span {
    color: #f39c12;
}

.right_single_feature p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.left_single_feature {
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}

.left_single_feature div {
    position: absolute;
    font-size: 40px;
    color: #f39c12;
    right: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
}

.left_single_feature h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333333;
}

.left_single_feature h3 span {
    color: #f39c12;
}

.left_single_feature p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.right_no_padding {
    padding-left: 15px;
}

.left_no_padding {
    padding-right: 15px;
}

@media (min-width: 991px) and (max-width: 1200px) {
    .right_single_feature {
        margin-left: -60px;
    }

    .left_single_feature {
        margin-right: -60px;
    }

    .feature_iphone {
        margin-top: 35px;
    }

    .right_single_feature h3,
    .left_single_feature h3 {
        margin-top: 0px;
        margin-bottom: 15px;
    }
}

.call_to_action {
    background-color: #1a1a1a;
    padding-top: 100px;
    padding-bottom: 100px;
}

.call_to_action p {
    color: #dfdfdf;
    font-size: 18px;
    font-weight: 300;
}

.call_to_action a {
}

.btn-action,
.btn-action:active,
.btn-action:focus,
.btn-action:visited {
    background: #f39c12;
    border: 1px solid #f39c12;
    color: #fff;
    border-radius: 3px;
    padding: 15px 35px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.btn-action:hover {
    background: #FF6B80;
    border-color: #FF6B80;
}

.apps_screen {
    background: #f1f1f1;
    padding-bottom: 96px;
}

.screen_slider {
    padding-top: 50px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #f39c12;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
    background: #f39c12;
}

.fun_facts {
    background: url(../images/fun_bg.jpg) no-repeat center;
    background-size: cover;
}

.fun_facts .section_overlay {
    padding-top: 120px;
    padding-bottom: 120px;
    background: rgba(0, 0, 0, .4);
}

.single_fun_facts {
    font-family: 'Source Sans Pro', sans-serif;
}

.single_fun_facts i {
    color: #f39c12;
    font-size: 60px;;
}

.single_fun_facts h2 {
    color: #D7DADB;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}

.single_fun_facts h2 span {
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}

.single_fun_facts p {
    color: #D7DADB;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

.download {
    background: #f1f1f1;
}

.download_screen {
    padding-top: 45px;
}

.download_screen img {
    width: 100%
}

.available_store {
    background: #1a1a1a;
    margin-top: -8px;
    position: relative;
}

.available_title {
    padding-top: 75px;
}

.available_title h2 {
    color: #fff;
    font-size: 30px;
}

.available_title p {
    color: #B5B5B5;
}

.single_store {
    text-align: center;
    border-left: 1px solid #0F1217;
    min-height: 230px;
    padding-bottom: 15px;
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.single_store i {
    color: #f39c12;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    padding-top: 90px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.store_inner {
    position: absolute;
    bottom: 93px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.store_inner h2 {
    text-align: center;
    font-weight: 300;
    color: #d7dadb;
    font-size: 16px;
}

.single_store:hover {
    background: #121212;
}

.single_store:hover i {
    opacity: 0;
}

.single_store:hover div.store_inner {
    opacity: 1;
}

.no_padding {
    padding-left: 0px;
    padding-right: 0px;
}

.last {
    border-right: 1px solid #0F1217;
}

.contact {
    text-align: left;
    color: #fff;
    font-size: 18px !important;
    margin-right: 100px;
    margin-left: auto;
}

.contact p {
    font-size: 18px;
}

.contact_form {
    padding-top: 30px;
}

.contact_form .form-control {
    display: block;
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    background-image: none;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;

}

.contact_form .form-control:focus {
    border: 1px solid #f39c12;
    border-color: #f39c12;
    outline: 0px none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(102, 175, 233, 0.6);
}

.contact_form {
}

.form-control:-webkit-input-placeholder {
    color: red;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */

    color: red;
}

.form-control:-moz-placeholder {
    /* Firefox 19+ */

    color: red;
}

.form-control:-ms-input-placeholder {
    color: red;
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    background-color: transparent;
    border: 1px solid #f39c12;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #f39c12;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;
}

.submit-btn:hover {
    background-color: #f39c12;
    color: #fff;
    border-color: #f39c12;
}

.social_icons {
    padding-top: 50px;
    padding-bottom: 70px;
}

.social_icons ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.social_icons ul li {
    list-style: none;
    display: inline;
    padding-left: 10px
}

.social_icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social_icons ul li a i {
    font-size: 20px;
}

.social_icons ul li a:hover {
    background: #f39c12;
    border: 1px solid #f39c12;
    color: #fff
}

.error {
    color: #f39c12;
    display: block;
    padding-bottom: 15px;
    font-size: 18px
}

.error i {
    padding-right: 10px;
    font-size: 18px
}

.Sucess {
    color: #4DB849;
    display: block;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}

.Sucess i {
    padding-right: 10px;
    font-size: 18px;
    color: #4DB849
}

.contact_form .form-control {
    color: #3d3d3d;
}

#message {
    height: 117px;
    resize: none;
}

.subscribe {
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.subscribe .section_overlay {
    padding-bottom: 70px;
    background: transparent
}

.subscribe .section_title h2 {
    color: #eaeaea;
}

.subscribe .section_title p {
    color: #a4a4a4;
}

.subscribe_form {
    text-align: center;
    padding-top: 30px;
}

.subscribe_form .form-group {
}

.subscribe_form .form-control {
    background: transparent;
    border: 1px solid #575b63;
    border-radius: 0px;
    height: 45px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: #aeaeae;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.subscribe_form .form-control:focus {
    background: transparent;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: none;
}

.subs-btn,
.subs-btn:active,
.subs-btn:focus,
.subs-btn:visited {
    width: 200px;
    background: transparent;
    border: 1px solid #f39c12;
    border-radius: 4px;
    height: 45px;
    margin-left: 0px;
    margin-bottom: 1px;
    color: #f39c12;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;
}

.subs-btn:hover {
    background-color: #f39c12;
    color: #fff;
    border-color: #f39c12;
}

@media (min-width: 300px) {
    .subscribe_form .form-control {
        width: 100%
    }
}

.subscription-success {
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.subscription-error {
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.copyright {
    background-color: #1A1D22;
    padding-bottom: 65px;
    padding-top: 65px;
    border-bottom: 3px solid #f39c12;
}

.copyright h2 {
    height: 0px;
    margin: 0px;
}

.copy_right_text {
    width: 60%;
}

.copy_right_text p {
    color: #8C8B8A;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

.copy_right_text p a {
    text-decoration: none;
    color: #f39c12;
}

.copy_right_text p span {
    font-weight: 300;
}

.scroll_top {
    text-align: right;
}

.scroll_top a {
    background: #f39c12;
    padding: 25px;
}

.scroll_top a i {
    color: #fff;
    font-size: 25px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: red;
    background-image: none;
    color: rgb(0, 0, 0);
}

.spn_hol {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 50000;
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.spinner {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -35px;
    height: 24px;
    width: 70px;
    text-align: center;
    display: block;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/*
Форма обратной связи
*/
#inline {
    margin: 0 auto;
    width: 70%;
    padding: 10px 20px;
    border-radius: 15px;
    border: 3px solid #008f37;
    text-align: center;
}

.txt {
    display: inline-block;
    color: #676767;
    width: 205px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    padding: 2px 10px;
    font-size: 15px !important;
    line-height: 1.4em;
    border-radius: 5px;
}

.txt:focus {
    border-style: solid;
    border-color: #BABABA;
    color: #444;
}

input.error, textarea.error {
    border-color: #973D3D;
    border-style: solid;
    background: #F0BEBE;
    color: #A35959;
}

input.error:focus, textarea.error:focus {
    border-color: #973D3D;
    color: #A35959;
}

#send {
    color: #FFF;
    cursor: pointer;
    padding: 5px 11px;
    font-size: 1.2em;
    border: solid 1px #005e28;
    border-radius: 5px;
    background: #008f37;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

#send:hover {
    background: #009a3b;
}

.socal img {
    width: 40px;
    text-align: center;
    margin-top: 20px;
    margin-right: 15px;
}

.socal {
    text-align: center;
}

.contact img {
    width: 40px;
}

.top {
    display: flex;
    justify-content: space-between;
}

/*
Форма обратной связи
*/
#contact input {
    margin-bottom: 15px;
}

#send {
    margin-top: 20px;
}
.name_error, .phone_error{
    color: red;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

@media (max-width: 575.98px) {

    .contact{
        margin-right: auto;
        margin-top: -45px;
        margin-bottom: 25px;
    }
    .home-iphone img {
        display: none;
    }
    #inline {
        width: 100%;
    }
    body{
        overflow: auto;
    }
    .socal{
        padding-bottom: 30px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .contact{
        margin-right: auto;
        margin-top: -45px;
        margin-bottom: 25px;
    }
    #inline {
        width: 100%;
    }
    .home-iphone img {
        margin-top: 0;
    }
    body{
        overflow: auto;
    }
    #inline {
        width: 100%;
    }
    .home-iphone img {
        display: none;
    }
    .socal{
        padding-bottom: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .contact {
        margin-right: 10px;
    }

    #inline {
        width: 100%;
    }

    .home-iphone img {
        margin-top: 0;
    }
    body{
        overflow: auto;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #inline {
        width: 100%;
    }

    .home-iphone img {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {

}